/* Default styles for larger screens */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  nav img {
    cursor: pointer;
    background-color: white;
    padding: 1px;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
  }
  
  nav h2 {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #333;
  }
  
  nav span {
    font-size: 0.75rem;
  }
  
  nav button {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }
  
  /* Mobile styles */
  @media (max-width: 767px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav img {
      margin-bottom: 1rem;
    }
  
    nav h2 {
      font-size: 1.25rem;
    }
  
    nav span {
      display: none; /* Hide the "Welcome" text on small screens */
    }
  
    nav button {
      margin-bottom: 0.5rem;
    }
  }
  